---
import Layout from "../layouts/Layout.astro";
---

<head>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css"
    rel="stylesheet"
    type="text/css"
  />
</head>

<style>
  main {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
  }

  section {
    width: 50%;
    margin: 0 2rem 0 2rem;
  }

  h2 {
    color: #6b2875;
    font-weight: 600;
    margin: 1em 0 0.75em;
    text-shadow: none;
    font-size: 36px;
    line-height: 1.1;
  }
  #ekumenOfficeMap {
    height: 180px;
  }

  .map {
    height: 180px;
    margin: 2rem 0 2rem 0;
  }

  p,
  address {
    line-height: 1.875;
  }

  a {
    color: #49A9DE;
  }

  @media screen and (max-width: 780px) {
    main {
      flex-direction: column;
      width: 100%;
    }
    section {
      width: 90%;
    }
  }
</style>

<Layout title="About - Ekumen" description="this is a description">
  <main>
    <section>
      <h2>About us</h2>

      <p>
        Ekumen is an international engineering boutique, provider of advanced
        software development services and technology. We are a small, dynamic
        team of highly-talented engineers with a penchant for challenging
        technical problems and highly motivated to bring advancement to the
        world through technology.
      </p>
      <h2>Our clients</h2>
      <p>
        Our strengths and interests are an ideal match for technology companies
        that need the flexibility and adaptability of a small team as well as
        very high talent and a high level of engagement. We are working with
        technology start-up companies from the Silicon Valley and other
        innovation centers around the world.
      </p>
      <h2>Technology transfer</h2>
      <p>
        We specialize in bridging the gap between scientific research and
        deployable product: we can work with complex, under-documented
        technology and we have the engineering and usability experience to bring
        real products into the market.
      </p>
      <h2>Effective virtual teams</h2>
      <p>
        We have more than ten years of experience in global, remote
        collaboration and have repeatedly succeeded in creating effective,
        tightly-knit day-to-day working experiences with our customers. In
        practice, we become an integral part of our customers' development
        teams.
      </p>
      <h2>Virtually close</h2>
      <p>
        Our timezone locations (GMT-5, GMT-4, GMT-3 and GMT+1) make it easy to
        maintain multiple-hour, sometimes full-day overlap with customers in
        America, Europe, Middle East and Africa. This further helps us work
        hand-in-hand with our customers and be present during important
        deadlines and deliverables.
      </p>
      <h2>Quality people</h2>
      <p>
        Experts join Ekumen for our engaging projects and world-class software
        engineering skills. We are motivated by the chance to work hand-in-hand
        with other top talents on cutting-edge projects with international
        customers at the forefront of technology innovation.
      </p>
      <h2>Fast learners</h2>
      <p>
        We are passionate about technology. We love engaging in opportunities
        for which we have to learn something new. We dive into your project
        environment, understand it, and work with you on it. Adapting quickly is
        one of our key strengths.
      </p>
      <h2>Technology expertise</h2>
      <p>
        We specialize in the following areas: - Robotics Software Applications -
        Web and Mobile Technology - Embedded Systems - User Centered Engineering
        We have developed expertise in a variety of technologies, including:
        JavaScript, Python, C++, Java, Android, HTML5, OpenGL, ROS, Gazebo, Web
        Sockets, Socket.IO, Django, Ruby on Rails, Node, Angular.JS, Docker, Git
        and many more
      </p>
    </section>

    <section>
      <h2>Let's get in touch</h2>

      <address>
        <a href="mailto:contact@ekumenlabs.com">contact@ekumenlabs.com</a> | +1 (408)
        414-7455
      </address>

      <p>
        While some of Ekumen's engineers work distributed from different parts
        of the world, we have headquarters in both Buenos Aires, Argentina and
        Munich, Germany:
      </p>

      <div id="ekumenBsAs" class="map"></div>

      <address>
        Honduras 5550, Office 302<br />
        Ciudad Aut&oacute;noma de Buenos Aires, C1414BNB<br />
        Argentina<br />
        Phone: +54 (11) 4500-9898<br />
      </address>

      <div id="ekumenMunich" class="map"></div>

      <address>
        Leopoldstra&szlig;e 31<br />
        Zip code 80802<br />
        Munich, Germany<br />
      </address>
    </section>
  </main>
</Layout>

<script>
  import mapboxgl from "mapbox-gl";

  // Leaflet map setup
  mapboxgl.accessToken =
    "pk.eyJ1IjoiZWt1bWVuIiwiYSI6ImNpZXZqcW9nejB4ejM5MW0zcnBsZmhoa3MifQ.Tjix9jwmkT-gGbD1g8OvBg";

  const bsasMap = new mapboxgl.Map({
    container: "ekumenBsAs",
    style: "mapbox://styles/mapbox/streets-v8",
    center: [-58.435863, -34.584559],
    zoom: 12,
  });

  new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false,
  })
    .setLngLat([-58.435863, -34.584559])
    .setHTML('<img src="/logo.svg" height=40/>')
    .addTo(bsasMap);

  const munichMap = new mapboxgl.Map({
    container: "ekumenMunich",
    style: "mapbox://styles/mapbox/streets-v8",
    center: [11.584761013492237, 48.15874641011694],
    zoom: 12,
  });

  new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false,
  })
    .setLngLat([11.584761013492237, 48.15874641011694])
    .setHTML('<img src="/logo.svg" height=40/>')
    .addTo(munichMap);
</script>
