---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const partnerCollection = await getCollection("partner");
---

<Layout
  title="Partners - Ekumen"
  description="We are an international engineering boutique, provider of advanced software development services and technology."
>
  <main class="container">
    <h1 class="partners-title">Partnerships</h1>

    <div class="partner-container">
      {
        partnerCollection.map(async (entry) => {
          const { Content } = await entry.render();
          return (
            <article class="partner">
              <span id={entry.slug} /> <!-- for linking from the main page here -->
              <a href={entry.data.url} target="_blank">
                <img
                  src={entry.data.logo}
                  alt={entry.data.name}
                  class="partner-logo"
                />
              </a>
              <section>
                <Content />
              </section>
            </article>
          );
        })
      }
    </div>
  </main>
</Layout>

<style>
  .container {
    margin: 0 18%;
  }

  .partner {
    padding: 1rem;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #6b2875;
  }
  .partner:last-child {
    border-bottom: none;
  }

  .partners-title {
    text-align: left;
    color: #6b2875;
    font-weight: 600;
    margin: 1em 0 0.75em;
    text-shadow: none;
    font-size: 36px;
    line-height: 1.1;
    object-fit: scale-down;
  }
  .partner-logo {
    width: 300px;
    margin-top: 2rem;
  }
  .container :global(p) {
    margin: 0 0 30px;
    font-weight: 400;
    line-height: 1.875;
    font-size: 16px;
  }

  @media screen and (max-width: 994px) {
    .partner {
      flex-wrap: wrap;
    }
    .partner-logo {
      width: 200px;
    }
  }
</style>
